@model Cars.Models.EditCarViewModel

<h1>Edit Car</h1>

<div class="card">
    <div class="card-header">
        <h2>Edit @Model.Model</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label class="form-label"><strong>Model</strong></label>
                <input type="text" class="form-control" asp-for="Model" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label"><strong>Color</strong></label>
                <input type="text" class="form-control" asp-for="Color" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label"><strong>Plate</strong></label>
                <input type="text" class="form-control" asp-for="Plate" />
                <span asp-validation-for="Plate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label"><strong>Mileage</strong></label>
                <input type="number" class="form-control" asp-for="Mileage" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label"><strong>Made</strong></label>
                <input type="datetime-local" class="form-control" asp-for="Made" />
                <span asp-validation-for="Made" class="text-danger"></span>
            </div>

            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="@Url.Action("Index", "Cars")" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
